<%- include('inc/style')%>

<h1>This slide framework named <%= appName%></h1>
<h1>And this talk is named <%= title%></h1>

<hr>

<h1>Wooo!!1</h1>
<h3>By the way, this frame and talks are open source at GitHub <3</h3>
<a href="https://github.com/felixfong227/<%= appName%>"><img src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" ></a>

<%- include('inc/footer')%>